@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.cardapio{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container_card{
    display: flex;
    justify-content: space-between;

    padding: 16px;
    margin-top: 30px;

    width: 360px;   
    height: 160px;

    border-radius: 8px;
    border: 1px solid;
    border-color: #0000003b;
}

.container_card img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.nome{
    font-size: 20px;
    color: #000000b6;
    font-family: "Roboto", sans-serif;
    
}

.descricao{
    font-size: 14px;
    color: #000000cc;
    margin: 6px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
}

.preco{
    font-size: 18px;
    color: #000000b6;
    margin: 8px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
}